.container{
    background-image: url("../../../../public/backgroundLogin.jpg");
    // width: 100%;
    height: 100vh;
    background-size: cover;
    margin: auto;
    display: flex;
    justify-content: center;
    .loginWrap{
        background-color: hsl(71, 41%, 95%, 0.8);
        border-radius: 5px;
        width: 35%;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 100px 0;
        .loginContainer{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            .titleLogin{
                font-size: 30px;
                font-weight: 600;
                text-align: center;
            }
            button{
                font-size: 18px;
                padding: 10px 15px;
                border-radius: 4px;
                width: 80%;
                background-color: hsla(217, 84%, 52%, 0.874);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &:hover{
                    
                }
            }
        }
        
        .bottom{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            button{
                background-color: hsla(217, 84%, 52%, 0.874);
                padding: 5px 15px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }
}