@import '../../scss/variables.scss';
.popoverWrapper {
  min-width: 7rem;
  max-height: 24rem;
  overflow: auto;
  .item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
      background: rgb(223, 223, 223);
    }
    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
    .text {
    }
  }
}
