@import '../../scss/variables.scss';

.wrapper {
  border-radius: 1rem;
  border: 0.1rem solid #333335;
  overflow: hidden;
  width: fit-content;
  min-width: 40rem;
  z-index: 100000000;
  position: absolute;
  .header {
    background-color: #262629;
    padding: 1rem;
    .title {
      color: $white;
      font-size: 1rem;
      font-weight: 550;
    }
  }
  .body {
    padding: 1rem;
    background-color: #1e1e21;
    border-top: 0.1rem solid #333335;
    .desc {
      color: $white;
      font-size: 0.9rem;
    }
  }
  .footer {
    background-color: #1e1e21;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: flex-end;
  }
}
