$background-dark: #171b1d;
$background-dark-light: #24292c;
$background-dark-light-1: #36383a;
$text-color-dark: #767879;
$border-dark: #35393b;

$primary-color: #48a6c3;

$white: #fff;
$black: #000;
