.galleryWrap {
  display: grid;
  grid-template-rows: repeat(1, 14rem);
  grid-template-columns: repeat(4, 14rem);
  grid-auto-rows: 14rem;
  grid-gap: 0.5rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  position: relative;
  @media (min-width: 1560px) {
    grid-template-columns: repeat(5, 14rem);
  }
  @media (max-width: 1060px) {
    grid-template-columns: repeat(3, 14rem);
  }
  .galleryItemWrap {
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    .galleryItem {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      .iconMulti {
        position: absolute;
        top: 0.75rem;
        left: 0.75rem;
      }
      .galleryThumb {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &:hover {
          transition: 0.2s all linear;
          transform: scale(1.1);
        }
      }
    }
  }
  .postControl {
    position: fixed;
    bottom: 3rem;
    right: calc(50% - 5rem);
    width: 6rem;
    height: 3rem;
    border-radius: 999px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(186, 186, 186);
    .btnAddPost {
      cursor: pointer;
    }
  }
}

.formCreatePost {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  inset: 0;
  .formOverlay {
    background-color: rgba(24, 24, 24, 0.5);
    position: absolute;
    inset: 0;
    .closeIcon {
      position: absolute;
      top: 3rem;
      right: 3rem;
      cursor: pointer;
    }
  }
  .main {
    width: 30rem;
    height: fit-content;
    background-color: white;
    z-index: 101;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 31rem;
    justify-content: space-between;
    .uploadWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      width: 100%;
      height: 28rem;
      overflow: hidden;
      position: relative;
      .imagePost {
        width: 100%;
        height: 26rem;
        object-fit: contain;
      }
      .thumbUpload {
        width: 100%;
        height: 26rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .navBtn {
        position: absolute;
        cursor: pointer;
        top: 50%;
        &.left {
          left: 1rem;
        }
        &.right {
          right: 1rem;
        }
      }
      .previewIndex {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        background-color: rgb(156, 156, 156);
        padding: 0.5rem;
        border-radius: 0.75rem;
      }
      .btnRemoveImage {
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
        cursor: pointer;
      }
    }
    .inputCaption {
      padding: 1rem;
      width: 100%;
      height: 28rem;
      overflow: hidden;
      .input {
        width: 90%;
        color: black;
        outline: none;
        padding: 0.5rem 1rem;
        resize: none;
        border-radius: 15px;
        &:placeholder-shown {
          font-style: italic;
        }
      }
      .options {
        .btnEmoji {
          cursor: pointer;
        }
        .emojiWrap {
          em-emoji-picker {
            height: 100px !important;
            section {
              #preview {
                display: none !important;
              }
            }
          }
        }
      }
    }
    .control {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem 1rem;
    }
  }
  .inputUploadFile {
    display: none;
  }
}
