@import '../../scss/variables.scss';
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #171b1d;
  border-left: 1px solid $text-color-dark;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  .titlePage {
    font-size: 1.6rem;
    color: $text-color-dark;
  }
  .content {
    flex: 1;
  }
  .bottom {
    display: flex;
    justify-content: flex-end;
  }
}
