.galleryDetail {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  inset: 0;
  .galleryOverlay {
    background-color: rgba(24, 24, 24, 0.5);
    position: absolute;
    inset: 0;
  }
  .galleryContent {
    width: 75%;
    height: 80%;
    background-color: white;
    z-index: 101;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    .galleryImage {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        width: 100%;
        object-fit: contain;
      }
    }
    .galleryInfo {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 50%;
      padding: 1rem;
      .owner {
        .info {
          display: flex;
          align-items: center;
          .name {
            font-size: 0.9rem;
            font-weight: 550;
            margin-left: 1rem;
          }
        }
        .caption {
          margin-top: 0.5rem;
          font-size: 0.85rem;
          word-wrap: break-word;
          width: 100%;
          word-break: break-word;
        }
      }
      .interactive {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 0.75rem;
        .starPost {
          display: flex;
          align-items: center;
        }
        .quantityStar {
          font-size: 0.85rem;
        }
      }
      .postComment {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.75rem;
        .listComment {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          margin-top: 1rem;
          overflow: auto;
          height: 60%;
          .commentItem {
            display: flex;
            align-items: flex-start;
            gap: 0.25rem;
            flex-direction: column;
            .user {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }
            .name {
              font-size: 0.9rem;
              font-weight: 550;
            }
            .commentContent {
              font-size: 0.85rem;
              margin-left: 2rem;
            }
          }
        }
        .enterComment {
          .inputComment {
            outline: none;
            border: none;
            font-size: 0.9rem;
            font-style: italic;
            width: 100%;
          }
        }
      }
    }
  }
}
