.galleryDetail {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  inset: 0;
  .galleryOverlay {
    background-color: rgba(24, 24, 24, 0.5);
    position: absolute;
    inset: 0;
    .closeIcon {
      position: absolute;
      top: 3rem;
      right: 3rem;
      cursor: pointer;
    }
  }
  .galleryContent {
    width: 75%;
    height: 80%;
    background-color: white;
    z-index: 101;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    position: relative;
    .optionPost {
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.2s linear all;
      cursor: pointer;
      &:hover {
        background-color: rgb(238, 238, 238);
      }
    }
    .galleryImage {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .image {
        width: 100%;
        object-fit: contain;
      }
      .navBtn {
        position: absolute;
        cursor: pointer;
        top: 50%;
        &.left {
          left: 1rem;
        }
        &.right {
          right: 1rem;
        }
      }
      .previewIndex {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        background-color: rgb(156, 156, 156);
        padding: 0.5rem;
        border-radius: 0.75rem;
      }
    }
    .galleryInfo {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 50%;
      padding: 1rem;
      height: 100%;
      gap: 0.75rem;
      .owner {
        .info {
          display: flex;
          align-items: center;
          .name {
            font-size: 0.9rem;
            font-weight: 600;
            margin-left: 1rem;
          }
        }
        .caption {
          margin-top: 0.5rem;
          font-size: 0.85rem;
          word-wrap: break-word;
          width: 100%;
          word-break: break-word;
          font-weight: 550;
        }
      }
      .interactive {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .starPost {
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: all linear 0.3s;
          &:hover {
            transform: scale(1.05);
          }
        }
        .quantityStar {
          font-size: 0.85rem;
        }
      }
      .postComment {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.75rem;
        width: 100%;
        flex: 1;
        overflow: auto;
        .listComment {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          overflow: auto;
          width: 100%;
          .commentItem {
            display: flex;
            align-items: flex-start;
            gap: 0.25rem;
            flex-direction: column;
            .user {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }
            .name {
              font-size: 0.9rem;
              font-weight: 550;
            }
            .commentContent {
              font-size: 0.85rem;
              margin-left: 2rem;
            }
          }
        }
      }
      .enterComment {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 2rem;
        .inputComment {
          outline: none;
          border: 1px solid rgb(190, 190, 190);
          font-size: 0.9rem;
          font-style: italic;
          width: calc(100% - 1rem);
          resize: none;
          border-radius: 0.5rem;
          padding: 0.5rem;
        }
        .btnSendComment {
          cursor: pointer;
        }
        .loading {
          animation: spinner 3s infinite forwards;
        }
      }
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
