* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  height: 100%;
  box-sizing: border-box;
  height: auto;
  font-family: 'Bitter', serif;
}
html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

#root {
  height: 100%;
}
